* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
   background-color: #1a1e33;
  display: flex;
  align-items: center;
  height: 100vh;
 
}

.first-section{
  height: auto;
  width: 30%;
  display: flex;
  justify-content: center;
}

.container {
  height: 50rem;
  width: 30rem;
}

.heading {
  color: rgb(83, 68, 68);
  text-align: center;
  text-shadow: 2px 1px #848484;
  font-size: 4rem;
  font-weight: 600;
}

.music-container {
  background-color: #2e3249;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cover-box {
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 4rem;
  width: 85%;
}

#cover {
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

#music-box {
  width: 100%;
}

#music-info {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 2rem;
}

#title {
  font-size: 2rem;
  font-weight: 600;
}

#artist {
  font-size: 1.4rem;
  font-weight: 500;
}

#progress-container {
  height: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2rem 0 1rem;
  cursor: pointer;
  border-radius: 8px;
}

#progress {
  background-color: #000;
  width: 0%;
  height: inherit;
  border-radius: inherit;
  transition: width 100ms ease-in;
}

#timer-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

#control-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4rem;
  color: #a0a0a0;
  transition: background 200ms linear, color 200ms linear;
}

.special-btn {
  background-color: #000;
  color: #fff;
  font-size: 2.2rem;
  margin: 0 1rem;
  padding: 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4rem;
  transition: opacity 200ms linear;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #d8d8d8;
    color: #545454;
  }

  .special-btn:hover {
    opacity: 0.75;
  }
}

.second-section{

  height: auto;
  width: 70%;
  display: flex;  
  justify-content: center;
}



.aside {
	display: inline-block;
	overflow: hidden;
}
/* section one of the main part */
.section-1 {
	width: 95%;
	height: 85vh;
	overflow: scroll;
}
.section-1::-webkit-scrollbar {
	display: none;
}
/* section 2 of the main part */
.section-2 {
	width: 28%;
	height: 85vh;
	z-index: 2;
}

/* particular item in the playlist */
.playlist-item {

	height: 8vh;
  border: 1px solid;
  width: 100%;
	box-sizing: border-box;
	background-color: #2e3249;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	
}
/* playlist item hovering effects */
.playlist-item:hover {
	background-color: var(--playlist-items-background-color-on-hover);
}
/* left part if the playlist item */
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	height: 100%;
	padding: 0% 1%;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: min-content;
	height: 100%;
}
.right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	padding-right: 2%;
}/* now adjusting the contents of left, center and right parts */
.left > div:nth-child(2) {
	height: 80%;
	min-width: 50px;
	max-width: 50px;
	margin: 0px 12% 0px 12%;
	position: relative;
}
.left > div:nth-child(2) img {
	width: 100%;
	height: 100%;
}
.left > div:nth-child(3) p {
	color: rgb(185, 185, 185);
}
/* customizing the play button */
.play-btn {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.1s;
}
/* on hover effects */
.play-btn:hover {
	opacity: 0.7;
}
/* adjusting fonts in the playlist items  */
.left div p {
	font-size: 14px;
}
.center {
	font-size: 12px;
	color: rgb(185, 185, 185);
}
.right {
	color: rgb(185, 185, 185);
}
.right div:nth-child(2) {
	margin-left: 27%;
}
/* second section of the page starts here */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* "more" button properties */
label {
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 3;
	box-shadow: 0px 0px 2px 1px white;;
	width: 70px;
	font-size: 20px;
	height: 21px;
	text-align: center;
	background-image: linear-gradient(red, blue);
}
/* on a normal display, it will be hidden */
label ~ input {
	display: none;
}
/* ASIDE SECTION -2 */
/* this is the first section heading of the aside section 2 */
.section-heading {
	margin-top: 10px;
	position: relative;
	margin-bottom: 12px;
}
/* adjusting for side by side display */
.section-heading div,
.section-heading h1 {
	display: inline-block;
}
.section-heading h1 {
	font-size: 23px;
}
.section-heading div {
	position: absolute;
	bottom: 0%;
	right: 0px;
	font-size: 14px;
}

.list {
	height: 36vh;
	overflow: scroll;
}
/* hiding the scrollbar */
.list::-webkit-scrollbar {
	display: none;
}
/* this is particular item in the "list  container*/
.list-item {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}
/* hovering effect for the list item */
.list-item:hover {
	background-color: var(--playlist-items-background-color-on-hover);
}
/* adjusting the name and image of the songs relative to their original position */
.list-item > div:nth-child(1) {
	width: 100px;
	height: 100%;
	position: relative;
}
.list-item > div:nth-child(1) > img {
	width: 100%;
	height: 100%;
}
.author-name {
	font-size: 12px;
	color: rgb(185, 185, 185);
}
.extra {
	text-align: right;
	height: 100%;
}

.size{
  font-weight: 400;
  font-size: 1.5rem;
}